@media (max-width: 768px) {

    #displayCanvas {
        width: 100%;
    }

    #displayCarrier h2 {
        font-size: 24px;
    }

    .sidebar {
        display: none; /* for now */
    }

    .main-display {
        margin-bottom: 1vh;
    }

    .box-carrier {
        flex-direction: column;
    }

    .micro-box {
        width: 100%;
    }

    .header {
        height: 7vh;
        padding: 4px 24px;
    }

    .header-logo-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-buffer {
        margin-bottom: 7.5vh;
    }

    .header-button {
        height: 70%;
    }

    .login-box {
        width: 80%;
        height: min-content;
        padding: 1% 2%;
    } .login-box input[type=text], input[type=password] {
        width: 100%;
        height: min-content;
        font-size: x-large;
    } .login-box p {
        width: 20%;
        margin: 2px 0;
    }

    #login {
        margin-top: 24px;
        height: 48px;
    }

    .login-box .sbs {
        flex-direction:column;
        align-items: normal;
        justify-content: start;
        
        height: 6vh;
        width: 100%;
        margin-bottom: 24px;
    }

    .inner-body {
        max-width: 100vw;
        width: 100vw;
        padding: 12px;
    }

    .center {
        max-width: 100vw;
        width: 100vw;
    }

    .grid-item {
        margin-bottom: 1vh;
    }

    .grid-box {
        flex-direction: column;
        display: flex;
        width: 100%;
    }
}

@media (max-height: 512px) {
    /* user has rotated their phone to use the display */

    body {
        overflow: hidden;
        background-color: #013F72;
    }

    #displayCanvas {
        width: 100vw;
        border-radius: 0;
        background-color: #013F72;
        padding: 0 36px
    }

    #displayCarrier {
        padding: 0;
        margin: 0;
        border-radius: 0;
        background-color: #013F72;
    }

    #displayCanvas[blurry] {
        filter: none;
        scale: 1;
    }

    #displayCarrier h2 {
        font-size: 24px;
        display: none;
    }

    .main-display {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        justify-items: center;
        align-items: center;
    }

    .inner-body {
        max-width: 100vw;
        width: 100vw;
    }

    .center {
        max-width: 100vw;
        width: 100vw;
    }

    .grid-box {
        display: none;
    }

    .header {
        display: none;
    }
}
